<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CSharp.WPF.ADO.ConnectionModels.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <CSharp.WPF.ADO.ConnectionModels.Properties.Settings>
            <setting name="NorthwindSqlServer" serializeAs="String">
                <value>Server=.\SQLEXPRESS;Database=Northwind;Trusted_Connection=Yes;</value>
            </setting>
            <setting name="Assignment2SqlServer" serializeAs="String">
                <value>
Server=Chintan_beast\SQLEXPRESS01;Database=Assignment2;Trusted_Connection=Yes;
				</value>
            </setting>
        </CSharp.WPF.ADO.ConnectionModels.Properties.Settings>
    </applicationSettings>
	<connectionStrings>
		<add name="Assignment2_CF"
			 connectionString="Server=Chintan_beast\SQLEXPRESS01;Database=Assignment2_CF;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>